     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Web Biografi Kelas Sistem Informasi</title>
         <link rel="stylesheet" href="styles.css"> <!-- Jika Anda punya file CSS utama terpisah -->
         <link rel="stylesheet" media="screen and (max-width: 768px)" href="mobile.css">
     </head>
     